
html,
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: $margin-none;
  // height:100%;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  margin: $margin-none;
}

a {
  color: $black;
  text-decoration: none;
}

a:hover {
  color: $nav-active-color;
}

header {
  background: $header-background;
  box-sizing: border-box;
  color: $header-color;
  font-size: $font-size-logo;
  height: $header-height;
  padding: 24px 0;
  white-space: nowrap;

  .header-left,
  .header-right,
  .header-center {
    display: inline-block;
    width: $one-third;
  }

  .header-center {
    text-align: center;
    text-transform: uppercase;
  }

  .header-right {
    vertical-align: middle;

    input {
      background-color: $input-background;
      border-radius: $input-border-radius;
      border: 0;
      box-sizing: border-box;
      color: $white;
      float: right;
      height: $input-height;
      margin-right: $margin-default;
      padding: 0 8px;
      width: $input-width;
    }
  }
}

nav {
  text-align: center;
  box-shadow: $nav-shadow;

  ul {
    margin: 0 $margin-default;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      box-sizing: border-box;
      display: inline-block;
      padding-bottom: 10px;
      width: $one-sixth;
    }

    li > a {
      text-decoration: none;
    }

    .active {
      border-bottom: 3px solid $nav-active-color;
      padding: 0 2.5em;
    }
  }
}

.content {
  margin: 0 $margin-default;
  max-width: 1200px;
}

@media(min-width:1260px) {
  .content {
    margin: 0 auto;
  }
}

// home page content styles

h1 {
  margin-bottom: $margin-default;
  margin-top: $margin-heading;
}

h2 {
  font-size: $font-size-title;
}

.timestamp {
  font-weight: 300;
  margin-left: 6px;
}

.author {
  text-transform: capitalize;
}

.thumbnail {
  object-fit: cover;
}

// feature story layouts

.feature-primary {
  box-shadow: $article-shadow;
  margin-bottom: $margin-default;

  .hero {
    background: $feature-shade;
    height: 205px;
    padding: 24px 20px;
    position: relative;

    .byline {
      bottom: 6px;
      color: $white;
      display: inline-block;
      font-size: $font-size-byline;
      position: absolute;
    }

    img {
      display: none;
      // display: inline-block;
      float: right;
      height: 157px;
      margin-left: 20px;
      vertical-align: top;
      width: 157px;
    }
  }

  .lead-para {
    margin: 0;
    padding: 24px 20px;
  }
}

.features-secondary {
  .feature-secondary {
    box-shadow: $article-shadow;
    height: 205px;
    margin-bottom: $margin-default;
    padding: 24px 20px;
    position: relative;

    .byline {
      bottom: 6px;
      color: $byline-color;
      display: inline-block;
      font-size: $font-size-byline;
      position: absolute;
    }

    .timestamp {
      margin-left: 0;
    }
  }

  .feature-secondary:first-of-type {
    margin-bottom: $margin-default;
  }

  .feature-secondary:last-of-type {
    margin-top: $margin-default;
  }
}

.article-list {
  .article {
    box-shadow: $article-shadow;
    margin-bottom: $margin-default;
    overflow: hidden;
    padding: 24px 20px;
    position: relative;

    h2 {
      margin-top: 15px;
      max-height: 60px;
      overflow: hidden;
    }

    img {
      height: $thumbnail-size;
      width: 100%;
    }

    .lead-para {
      max-height: 44px;
      overflow: hidden;
    }

    .byline {
      color: $byline-color;
      font-size: $font-size-byline;
    }
  }
}

@media(min-width: 520px) {
  .feature-primary .hero img {
    display: inline-block;
  }

  .article-list {
    .article {
      h2 {
        margin-top: 0;
        max-height: 30px;
      }

      img {
        float: left;
        height: $thumbnail-size;
        margin: -24px 20px -24px -20px;
        width: $thumbnail-size;

      }

      .byline {
        bottom: 24px;
        color: $byline-color;
        display: inline-block;
        font-size: $font-size-byline;
        position: absolute;
      }
    }
  }
}

@media(min-width:640px) {
  .feature-primary {
    margin-bottom: $margin-default;
  }

  .feature-secondary {
    float: left;
    margin-bottom: 0;
    width: calc(50% - 15px);
  }

  .feature-secondary:first-of-type {
    margin-bottom: 0;
    margin-right: $margin-default;
  }

  .feature-secondary:last-of-type {
    margin-bottom: 0;
  }

}

@media(min-width:920px) {
  .feature-primary {
    float: left;
    width: calc(100% - 330px);

    .lead-para {
      height: 187px;
    }
  }

  .features-secondary {
    float: right;
    margin: 0;
    width: $secondary-feature-width;
  }

  .feature-secondary {
    display: inline-block;
    margin: 0;
    width: $secondary-feature-width;
  }

  .feature-secondary:first-of-type {
    margin: 0;
  }

  .feature-secondary:last-of-type {
    margin: 0;
  }

  .article-list {
    .article {
      .lead-para {
        max-height: 66px;
        overflow: hidden;
      }

      // img {
      //   float: left;
      //   height: $thumbnail-size;
      //   margin: -24px 20px -24px -20px;
      //   width: $thumbnail-size;
      // }
    }
  }
}






// utility styles


.clearfix {
  clear: both;
}
