// layout variables
$margin-default: 0;
$header-height: 82px;

// font variables
$font-size-base: 16px;
$font-size-logo: 24px;
$font-family-base: 'Open Sans';
$font-family-serif: 'Source Serif Pro';

// color variables
$header-background: #263238;
$header-color: #fff;
